#wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: absolute;
  height: 100%;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

#info {
  flex: 0 0 350px;
  order: 1;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-flow: column wrap;
  justify-content: flex-end;
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
  color: white;
  font-size: 20px;
}

#course{
  order: 1;
  flex: 1;
  font-weight: bold;
  align-items: flex-start;
}

#project{
  order: 2;
  flex: 1;
  align-items: flex-center;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
}

#students{
  order: 3;
  flex: 1;
  font-style: italic;
  font-weight: bold;
}

#logo-ufpe {
  order: 4;
  flex: 1;
  border: 5px solid black;
}

#ufpe-logo {
  width: 100%;
  height: 70 px;
}

#stage {
  order: 2;
  flex: 1;

  border: 5px solid black;
  overflow: hidden;
}

#inner-stage {
  width: 100%;
  height: 100%;
  cursor: crosshair;
}