body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  position: absolute;
  height: 100%;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

p {
  margin: 0;
  padding: 0;
  border: 0;
}

#header {
  order: 1;
  flex: 0 0 80px;

  padding: 10px;
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

#stage {
  order: 2;
  flex: 1;

  border: 5px solid black;
  overflow: hidden;

  display: flex;
  flex-flow: column nowrap;
}

#footer {
  order: 3;
  flex: 0 0 140px;

  padding: 5px;
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;

  display: flex;
  flex-flow: row nowrap;
}

#inner-stage {
  order: 1;
  flex: 1;

  width: 100%;
  height: 100%;
}

.text-project-name {
  color: white;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  text-align: right;
}

.header-content {
  color: white;
  order: 1;
  flex: 1;
}

.bottom {
  font-weight: bold;
  color: white;
  align-self: flex-center;
}

.bottom:last-child {
  align-self: flex-center;
  text-align: right;
}

